.wrapper {
    display: grid;
    grid-template-areas:
'u r'
'u r';
    grid-template-columns: 3fr 8fr;

    margin: 40px;


}

.userContainer {
    grid-area: u;
}

.userBlock {
    display: flex;
    flex-direction: column;
}

.avatar {
    width: 200px;

    border-radius: 50%;
}

.nameBlock {
    display: flex;
    flex-direction: column;

    text-align: left;
}

.followersBlock {
    display: flex;
    justify-content: space-evenly;
}

.reposContainer {
    grid-area: r;
}
.reposBlock {
    text-align: left;
}
.repository {
    background-color: white;
    border-radius: 5px;
}
.repoLink {
    font-size: 22px;
    color: dodgerblue;
    text-decoration: none;
}