.wrapper {
    display: grid;
    grid-template-areas:
'u r'
'u r';
    grid-template-columns: 3fr 8fr;

    margin: 40px;
}

.userContainer {
    grid-area: u;
}


.reposContainer {
    grid-area: r;
}

