.reposBlock {
    text-align: left;
}

.pageTitle {
    font-size: 32px;
    font-weight: 600;
    line-height: 130%;

}

.repository {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;

    min-height: 80px;
    margin-top: 20px;

    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #c9c9c9;

}


.repoLink {
    margin-right: 40px;
    margin-left: 40px;
}

.repoLink p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.repoLink a {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    color: #0064EB;
    text-decoration: none;
}

.titleBlock {
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.titleBlock img {
    width: 40px;
    padding: 5px 0 0 20px;
}

.repoLink span {
    font-size: 14px;

    opacity: 0.6;
}

.paginationBlock {
    float: right;

    margin-top: 10px;
}